.homes {
    grid-column: col-start 3 / col-end 6;
    padding: 4rem;
    @media only screen and (max-width: $bp-large) {
        grid-column: full-start / full-end;
        padding: 1rem 0;
    }
}

.home {
    &__subHeading {
        font-weight: $weight-700;
        font-size: $font-14;
        color: $color-blue-light;
        margin-bottom: 1rem;
        text-transform: capitalize;
    }
    &__items {
        display: grid;
        // grid-template-columns: 1fr;
        grid-template-columns: 1fr 2fr;
        grid-column-gap: 3rem;
        padding: 5rem 0;
        grid-row-gap: 2rem;

        @media only screen and (max-width: $bp-small) {
            grid-template-columns: 1fr;
        }
    }
    &__box {
        display: grid;
        grid-auto-flow: column;
        grid-column-gap: 3rem;

        @media only screen and (max-width: $bp-small) {
            // display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
    &__underline {
        border-bottom: 1px solid $color-blue-lighter;
        margin-top: 1rem;
    }
    &__graph-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 3rem;
        align-items: center;
        // justify-items: center;

        @media only screen and (max-width: $bp-small) {
            grid-template-columns: 1fr;
            padding-bottom: 7rem;
        }
        @media only screen and (max-width: $bp-smallest) {
        }
    }
    &__graph-3 {
        display: grid;
        grid-template-columns: min-content 1fr;
        grid-column-gap: 1rem;
    }
    &__select {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
    }
    &__option {
        border: none;
        &:hover {
            cursor: pointer;
        }
    }
    &__circle-box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        @media only screen and (max-width: $bp-smallest) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    &__circle {
        display: grid;
        align-items: center;
        justify-items: center;
    }
}
