.homes{
    grid-column: col-start 3/ col-end 6;
    
    padding: 6rem 4rem;

    @media only screen and (max-width: $bp-small){
        grid-column: full-start / full-end;
    }
}

.home {
    &__items{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-column-gap: 3rem;

        padding: 5rem 0;
    }
    &__underline{
        border-bottom: 1px solid $color-blue-lighter;
        margin-top: 1rem;
    }
}
