.navbar{
    grid-column: sidebar-start / sidebar-end;

    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-row: 1 / -1;
    height: 100vh;
    position: sticky;
    top: 0;

    &__top{
        display: grid;
        align-content: start;
        justify-items: center;
    }
    &__bottom{
        display: grid;
        justify-items: center;
        align-content: end;
    }
}