.bar > span {
    position: relative;
    display: flex;
    left: 0.1rem;
    background-color: $color-blue-lighter;
    height: 0.4rem;
    top: 1rem;
}
.bar {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    width: 100%;
}
.bar-input {
    opacity: 1;
    pointer-events: none;
    position: absolute;
    top: -999.9rem;
    left: -999.9rem;
}
.bar-view {
    display: flex;
    flex-grow: 1;
    position: relative;
}
.bar-view:not(:last-child):before,
.bar-view:not(:last-child):after {
    content: "";
    width: 100%;
    position: absolute;
}
.bar-view:not(:last-child):before {
    height: 0.4rem;
    top: 1rem;
    background: $color-eee;
}

.bar-button {
    display: block;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    background: $color-white;
    position: relative;
    cursor: pointer;
    z-index: 5;
    box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.1);
}
