.profiles {
    background-color: $color-f7;
    grid-column: full-start/ col-end 2;
    
    display: grid;
    justify-items: start;
    padding: 2rem;
}

.profile {
    &__story {
        display: grid;
        grid-template-columns: min-content 1fr;
        grid-column-gap: 1rem;
        grid-row-gap: 2rem;

        align-items: center;
        justify-items: start;
    }
    &__img {
        height: 7rem;
        width: 7rem;
        object-fit: round($number: 50%);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        box-shadow: 0 0 1rem rgba($color-black,.3);
    }
    &__name {}
    &__today{
        font-size: $font-16;
        font-weight: $weight-700;
        color:
    }
}